
@{
    ViewData["Title"] = "Index";
}

<h3>Lista de Computadores</h3>

<a class="btn btn-primary" href="@Url.Action("Cadastro")">Novo Computador</a>

<table class="table table-bordered table-hover table-striped mt-3">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Valor</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>